---
interface Props {
  link?: string;
  label: string | number;
  ariaLabel: string;
}

const { link, label, ariaLabel } = Astro.props;
---

{
  link ? (
    <a href={link} aria-label={ariaLabel}>
      {label}
    </a>
  ) : (
    <span aria-label={ariaLabel}>{label}</span>
  )
}
