---
import type { Page } from "astro";
import PaginationLink from "./PaginationLink.astro";

interface Props {
  page: Page<unknown>;
}

const { page } = Astro.props;
const hasPages = page.size != page.total;
---

{
  hasPages && (
    <div aria-label="pagination">
      <PaginationLink link={page.url.first} label="First" />
      <PaginationLink link={page.url.prev} label="Prev" />
      <PaginationLink label={`Page ${page.currentPage}`} />
      <PaginationLink link={page.url.next} label="Next" />
      <PaginationLink link={page.url.last} label="Last" />
    </div>
  )
}

<style>
  div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
  }
</style>
