---
import type { Page } from "astro";
import PaginationLink from "@/components/pagination/PaginationLink.astro";

interface Props {
  page: Page<unknown>;
}

const { page } = Astro.props;
const hasPages = page.size !== page.total;
---

{
  hasPages && (
    <div aria-label="pagination">
      <PaginationLink link={page.url.first} label="«" ariaLabel="First page" />
      <PaginationLink
        link={page.url.prev}
        label="‹"
        ariaLabel="Previous page"
      />
      <PaginationLink
        label={`${page.currentPage}`}
        ariaLabel={`Current page : ${page.currentPage}`}
      />
      <PaginationLink link={page.url.next} label="›" ariaLabel="Next page" />
      <PaginationLink link={page.url.last} label="»" ariaLabel="Last page" />
    </div>
  )
}
