---
import Layout from "@/layouts/Layout.astro";
import Card from "@/components/Card.astro";
import type { Post } from "@/types/nav";
import { getCollection } from "astro:content";
import type { Page, PaginateFunction } from "astro";
import Pagination from "@/components/pagination/Pagination.astro";

interface Props {
  page: Page<Post>;
}

export const title = "Blog";

export async function getStaticPaths({
  paginate,
}: {
  paginate: PaginateFunction;
}) {
  const publishedBlogEntries = (await getCollection("blog"))
    .map(
      (post) =>
        ({
          url: `/blog/${post.id}`,
          title: post.data.title,
          description: post.data.description,
          created: post.data.created,
        }) as Post,
    )
    .sort(
      (postA, postB) => postB.created!.getTime() - postA.created!.getTime(),
    );

  return paginate(publishedBlogEntries, { pageSize: 2 });
}

const { page } = Astro.props;
---

<Layout title={title}>
  <h1>Blog</h1>
  {
    page.data.map((post) => (
      <Card
        url={post.url}
        title={post.title}
        description={post.description}
        date={post.created}
      />
    ))
  }
  <Pagination page={page} />
</Layout>
