---
import Layout from "@/layouts/Layout.astro";
export const title = "Blog";

import { getCollection } from "astro:content";
const publishedBlogEntries = (
  await getCollection("blog", ({ data }) => {
    return data.draft !== true;
  })
).sort((postA, postB) => postA.data.created - postB.data.created);

const options = {
  weekday: "numeric",
  year: "numeric",
  month: "numeric",
  day: "numeric",
};
---

<Layout title={title}>
  <h1>Blog</h1>
  <div>
    {
      publishedBlogEntries.map((post) => (
        <article>
          <h2>
            <a href={`/blog/${post.id}`}>{post.data.title}</a>
          </h2>
          <span>{post.data.created.toLocaleString()}</span>
          <span>{post.data.description}</span>
        </article>
      ))
    }
  </div>
</Layout>

<style>
  article {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 5px;
    justify-content: space-between;
    align-items: baseline;
  }

  div {
    display: grid;
    gap: 2rem;
  }
</style>
