---
import Layout from "@/layouts/Layout.astro";
import Card from "@/components/Card.astro";
import type { CardItem } from "@/types/Card";
import { getCollection } from "astro:content";
import type { Page, PaginateFunction } from "astro";
import Pagination from "@/components/pagination/Pagination.astro";
import { isCollectionEmpty } from "@/content.config";
import type { CollectionName } from "@/types/Collection";

interface Props {
  page: Page<CardItem>;
}

const collectionUsed: CollectionName = "talks";
const isEmpty = await isCollectionEmpty(collectionUsed);
if (isEmpty) {
  console.warn(`${collectionUsed} collection is empty`);
  return Astro.rewrite("/404");
}

export async function getStaticPaths({
  paginate,
}: {
  paginate: PaginateFunction;
}) {
  const talks = (await getCollection("talks")).map(
    (talk) =>
      ({
        url: `/talks/${talk.id}`,
        title: talk.data.title,
        description: talk.data.description,
      }) as CardItem,
  );

  return paginate(talks, { pageSize: 2 });
}

const { page } = Astro.props;
const title = "Talks";
const description = "Projects";
---

<Layout title={title} description={description}>
  <h1>Talks</h1>
  {
    page.data.map((talk) => (
      <Card url={talk.url} title={talk.title} description={talk.description} />
    ))
  }
  <Pagination page={page} />
</Layout>
