---
import Layout from "../layouts/Layout.astro";
import type { PaginateFunction } from "astro";
import { getCollection, getEntry, render } from "astro:content";
import type { CollectionName } from "@/types/Collection";
import { isCollectionEmpty } from "@/content.config";
import type { Post } from "@/types/Card";
import Card from "../components/card/Card.astro";
export const title = "Home";

export const collectionUsed: CollectionName = "blog";
const isEmpty = await isCollectionEmpty(collectionUsed);
if (isEmpty) {
  console.warn(`${collectionUsed} collection is empty`);
  return Astro.rewrite("/404");
}

const latestPost = (await getCollection("blog"))
  .map(
    (post) =>
      ({
        url: `/blog/${post.id}`,
        title: post.data.title,
        description: post.data.description,
        created: post.data.created,
      }) as Post,
  )
  .sort(
    (postA, postB) => postB.created!.getTime() - postA.created!.getTime(),
  )[0];

const indexPage = await getEntry("index", "index");
if (!indexPage) {
  console.warn('Could not find "index" page');
  return Astro.rewrite("/404");
}

const { Content } = await render(indexPage!);
---

<Layout title="Hello there" description="Hello there">
  <section>
    <Content />
  </section>
  <section>
    <h2>Latest post</h2>
    <Card
      url={latestPost.url}
      title={latestPost.title}
      description={latestPost.description}
      date={latestPost.created}
      titleLevel={3}
    />
    <span>
      <a href="/blog/"> More posts here...</a>
    </span>
  </section>
</Layout>

<style>
  section:nth-of-type(1) {
    margin-bottom: 5rem;
  }
</style>
