---
interface Props {
  url: string;
  title: string;
  description?: string;
  date?: Date;
  archived?: boolean;
  titleLevel?: 2 | 3;
}

const { url, title, description, date, archived, titleLevel = 2 } = Astro.props;

const postDate = date ? Intl.DateTimeFormat("fr-FR").format(date) : undefined;
---

<article>
  <hgroup>
    {
      titleLevel === 2 ? (
        <h2>
          <a href={url}>{title}</a>
        </h2>
      ) : (
        <h3>
          <a href={url}>{title}</a>
        </h3>
      )
    }

    {archived && <p>Archived</p>}
    {postDate && <p>{postDate}</p>}
  </hgroup>
  {description && <span>{description}</span>}
</article>
