---
import "@/styles/main.css";
import { ClientRouter } from "astro:transitions";

import Footer from "@/components/Footer.astro";
import { getEntry, render } from "astro:content";
import Header from "@/components/Header.astro";
import OpenGraph from "@/components/meta/OpenGraph.astro";
import Meta from "@/components/meta/Meta.astro";

interface Props {
  title: string;
  description?: string;
  type?: string;
  image?: string;
}

const { title, description, type, image } = Astro.props;

const footerContentAsEntry = await getEntry("components", "footer");
if (!footerContentAsEntry) {
  throw new Error(
    'Could not find "src/content/components/footer" page for "footer" component.',
  );
}

const { Content: FooterContent } = await render(footerContentAsEntry);
---

<!doctype html>
<html lang="en">
  <head>
    <ClientRouter />
    <Meta description={description} />
    <OpenGraph
      title={title}
      image={image}
      type={type}
      description={description}
    />
    <title>{title}</title>
    <link rel="sitemap" href="/sitemap-index.xml" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  </head>
  <body>
    <Header />
    <main>
      <slot />
    </main>
    <Footer>
      <FooterContent />
    </Footer>
  </body>
</html>
